.image img{
    height:500px;
    width:700px;
}
.imageslider{
    width:700px;
    height:500px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
}
.image{
    width:2800px;
    height:500px;
    position: relative;
    transition:left 2s;

}
.m{
    float: left;
    margin: 0;
    padding: 0;
}

.slider-button{
    display: inline-block;
    height:10px;
    width:10px;
    border-radius: 50%;
    background-color: teal;
position: relative;
left:620px;
}
#image-slider-1:target ~ .image{
    left:0px;
}
#image-slider-2:target ~ .image{
    left:-700px;
}
#image-slider-3:target ~ .image{
    left:-1400px;
}
#image-slider-4:target ~ .image{
    left:-2100px;
}